* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

:root {
  --white: #FFFFFF;
  --white-800: #F6F8FF;

  --blue-400: #016FB9;
  --blue-700: #016FB97D;
  --blue-900: #001242;

  --black-600: #191919;
  --black-900: #000000;
}

body {
  background: var(--black-600);
}

a {
  text-decoration: none;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Montserrat', sans-serif;
}