.secondyBar {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
}

.mainContent {
  width: 100%;
  height: calc(100vh - 10rem);

  display: flex;
  align-items: center;
  justify-content: center;

}

.cardsControll {
  height: 100%;
  width: 1120px;
  overflow-y: scroll;

  padding: 1rem 2rem;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));


  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--black-600);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--black-900);
  }

}

.contentBar {
  width: 1220px;
  margin: 0 auto;
  padding: 0 2rem;

  div:first-child {

    margin-left: auto;
  }
}